#app {

}

#container {

    display: table;
    margin: 0 auto;
    width: 90%;

}

#list {
    width: 64%;
    float: left;

}

#rates {



}

#currencies {

    width: 34%;
    float: left;

}

#buttons {

    display: table;
    margin: 0 auto;

}
